<div class="top-wrapper">
  <div class="container">
    <h1>江戸川Biotope</h1> 
    <h2>
      みんなで親水公園の魅力を発信しよう
    </h2>
    
    <%= link_to "Sign up now!",signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>