.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* static_pages#home */
.top-wrapper {
  height: 100vh;
  padding-top:180px;
  padding-bottom: 100px;
  background-image: url(top.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}
/* signup */
.users-form input {
  margin-bottom: 15px;
}

.form {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px lite;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
  text-align: center;
}

.form-body {
  width:1100px;
  padding: 30px;
  position: center;
}
.form-control{
  margin: 0 auto;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}


li{
  list-style: none;
}

/* header */
header {
  height: 65px;
  width: 100%;
  background-color:lightskyblue;
  position:fixed;
  top:0px;
  z-index:10;
  min-width: 1170px;
}

.header-logo {
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color:lightskyblue;
  transition: all 0.5s;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.dropdown-menu a{
  color:black;
}
/* maps/show */


.post-index{
  position: absolute;
  top: 500px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

.map-address{
  position: absolute;
  top: 500px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}






#map {
  height: 600px;
  width: 80%;
  margin: auto;
}
.map_p{
  text-align: center;
}
.gmap input {
  border: 1px solid #000;
}

.field_with_errors {
  display: inline;
}
/* maps/:id */
.park {
  position: absolute;
  top: 100px;
  left: 20px;
}

.park img {
  z-index:10;
}

.post-box {
  width: 540px;
  height: 320px;
  position: relative;
  border: 1px solid #d8dadf;
}

.post-box p {
  position: absolute;
  top: 10px;
  left: 20px;
}

.text-box {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50px;
  left: 20px;
}

.file-box {
  position: absolute;
  top: 270px;
  left: 20px;
}

.submit-box {
  position: absolute;
  top: 270px;
  left: 440px;
}

.time-line {
  width: 500px;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
  position: relative;
}

.post-index-item{
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.time-line-name {
  position: absolute;
  top:10px;
  left: 20px;
}

.time-line-image {
  width: 400px;
  height: 200px;
  border-radius: 3%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 120px 0 10px;
  object-fit: cover;
}

.time-line-text {
  position: absolute;
  top: 40px;
  left: 30px;
}
